/* Estilos para el formulario */
.formulario {
    width: 80%;
    margin: auto;
    background-color: #f7f7f7;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilos para el título */
h3 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
}

/* Estilos para los campos del formulario */
.campo {
    margin-bottom: 20px;
}

label {
    font-weight: bold;
    color: #555;
}

.input-text, select.input-text {
    height: 5vh;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    font-size: 16px;
}

/* Estilos para el botón */
button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

/* Estilos para la firma */
.campofirma {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

canvas {
    border: 2px solid #007bff;
    border-radius: 5px;
}

/* Animación de fade-in */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Aplicar la animación de fade-in */
.formulario {
    animation: fadeIn 0.5s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5vh;
}
